
body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    height: 100px; /* Decrease the header height */
}

.container {
    margin-top: 30px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    font-size: 17px;
    border-radius: 20px;
    background-color: transparent;
    transition: 0.3s all;
    border: none;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgb(31, 126, 126);
    color: white;
}

h1 {
    font-size: 36px;
    /* Adjust the font size as needed */
    margin: 0;
    padding: 10px;
    text-align: left; /* Align header content to the left */
    margin-top: -20px; /* Moved it higher */
    color: aliceblue; /* Change text color */
}

/* Style the left column containing the tabbable list group */
.left-column {
    float: left;
    width: 50%; /* Adjust the width for left content */
    padding: 60px;
}

/* Style the right column containing the image */
.right-column {
    float: right;
    width: 40%; /* Adjust the width for the right image */
    display: flex;
    align-items: center; /* Center the image vertically */
    justify-content: flex-start; /* Move the image slightly left */
}

/* Style the image */
.right-column img {
    width: 100%;
    height: 70%; /* Decreased the image height */
}

.left-column p {
    font-size: 24px; /* Increased the text size */
}
