<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American Sign Language Prediction</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Add Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    </style>
    <header class="header">
        <div class="topnav">
            <a href="/predict" style="color: aliceblue;">Predict</a>
            <a href="/home" style="color: aliceblue;">Home</a>
        </div>
        <div class="header-content">
            <h1>American Sign Language Prediction</h1>
        </div>
    </header>
    <div class="container">
        <div class="left-column">
            <!-- Add your content here on the left side -->
            <h4>Speak with your Hands: Our AI-Powered Sign Language Predictor.</h4>
        </div>
        <div class="right-column">
            <!-- Add your image on the right side -->
            <img src="/static/img.png" alt="Image">
        </div>
    </div>
</body>
</html>